@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/responsive.scss";
@import "card.scss";
@import "newloader.scss";
@import "loader.scss";
@import "firstloader";
@import "project_card.scss";

$main-color: rgb(160, 156, 149);
$second-color: rgb(197, 189, 189);
$main-bg-color: rgb(228, 232, 241);
$effect-color: rgba(248, 185, 83, 0.534);
$footer-font-color: rgb(104, 101, 96);

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  margin-right: 7vw;
  font: 400 15px/1.8 "Poppins", sans-serif;
  color: $main-color;
}

h1 {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

nav {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  background: $main-bg-color;
}

.arrow-fixed {
  position: fixed;
  bottom: 80px;
  right: 50px;
}

#main-title {
  width: 60vw;
  font-size: 13rem;
}

.projects {
  margin: 10vh 1vw 10vh 35vw;
  & .one-project {
    margin: 10vh 0;
  }
  &:hover {
    top: 0;
    left: 100%;
  }
}

#project-title {
  font-size: 2rem;
}

.motion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;

  height: 70%;

  .my-border {
    background-color: rgba($second-color, 0.5);
    border-radius: 5px;
    padding: 8px;
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    transition: background-color 2s;

    &:hover {
      background-color: rgba($second-color, 0.9);
    }

    & > .fa-angle-down,
    & > .fa-angle-up {
      padding: 8px 18px 0px 26px;
      font-size: 1.5em;
    }
  }
}

@media #{$medium-down} {
  .my-navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 5vh 20vw;
  }
  .my-nav-item {
    margin-top: 0%;
    padding: 0%;
    margin: 2em;
    @include rotate(-28deg);
    width: 13em;
  }
  #main-title {
    font-size: 7rem;
  }
}

@media #{$medium-up} {
  .my-navbar-nav {
    z-index: 6;
    margin: 10vh 50vh 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
  }
  .my-nav-item {
    margin-top: 0%;
    padding: 0%;
    @include rotate(-38deg);
    width: 13em;
  }
}

.menu-icon {
  position: relative;
  width: 54px;
  height: 54px;
  @include transition;
  animation: antirotation 0.1s;

  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%) translateY(-50%));

    display: block;
    width: 22px;
    height: 2px;

    background-color: $main-color;

    -webkit-transition: background 0.5s;

    transition: background 0.5s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      @include translation(-6px);

      display: block;
      width: 22px;
      height: 2px;

      background-color: $main-color;

      @include transition;
    }

    &::after {
      @include translation(6px);
    }
  }

  &:hover {
    span::before {
      @include translation(-8px);
    }

    span::after {
      @include translation(8px);
    }
  }

  &.is-opened {
    animation: rotation 0.5s;

    span {
      background: transparent;
    }

    span::before {
      @include rotation(0, 45deg);
    }

    span::after {
      @include rotation(0, -45deg);
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes antirotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}

.open {
  background-color: rgb(46, 42, 40);
  height: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  overflow: hidden;
}

.nav-min {
  font-size: 1.5em;
}

.hover-effect {
  width: 0%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: width 1s;
  transition: width 1s;
  /* height:1px; */
  /*override au cas par cas sur bottom et couleur de ligne*/
  bottom: -0.5px;
  border-bottom: 1.5px solid rgba($effect-color, 0.534);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

  &:hover {
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    width: 100%;
  }
}

.my-footer {
  position: fixed;
  background-color: $second-color;
  height: 25vh;
  width: 86vw;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  color: $footer-font-color;
}

.links {
  cursor: pointer;
  & p {
    font-size: 2rem;
  }
}

a {
  &.nav-min {
    color: rgba($main-color, 0.534);
    text-decoration: none;
    white-space: nowrap;
    transition: color 1s ease-in-out;

    &:hover {
      color: $effect-color;
    }
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#first-nav {
  @include thefadein(2.5s);
}

#second-nav {
  @include thefadein(3.5s);
}

#third-nav {
  @include thefadein(4.5s);
}

#fourth-nav {
  @include thefadein(5.5s);
}

.item {
  background-color: $card-bg;
}

.text-container {
  height: 100vh;
  padding: 20px;
  & h1 {
    padding: 20px;
  }
}

.parallax-bg-effect {
  border-radius: 10px;
}

.footer-visible {
  visibility: visible;
  transition: visibility 0.5s ease-in;
}

.hidden {
  visibility: hidden;
  transition: visibility 0.5s ease-out;
}

.close-form {
  font-size: 1.5rem;
  position: absolute;
  right: -30px;
}

.contact {
  height: 100vh;
}

.project-title {
  color: $main-color;
}
