@import "libs/vars.scss";
@import "libs/reset.scss";
@import "libs/mixins.scss";
@import "libs/responsive.scss";
@import "motion.scss";
@import "navPers.scss";
@import "footer.scss";
@import "card.scss";
@import "newloader.scss";
@import "loader.scss";
@import "firstloader";
@import "project_card.scss";





* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  margin-right: 7vw;
  font: 400 15px/1.8 "Poppins", sans-serif;
  color: $main-color;
}

@media #{$large-down} {
  body,html {
    margin-right: 0;
  }
}

h1 {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

h2 {
  font-size: 1.5em;
}

p {
  font-size: 1.2em;
}

nav {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main {
  background: $main-bg-color;
}

#main-title {
  width: 60vw;
  font-size: 13rem;
}

.projects {
  margin: 10vh 1vw 10vh 35vw;
  & .one-project {
    margin: 10vh 0;
  }
  &:hover {
    top: 0;
    left: 100%;
  }
}

@media #{$large-down} {
  .projects {
    margin: 1vw;
  }
}

#project-title {
  font-size: 2rem;
}

.text-container {
  height: 100vh;
  padding: 20px;
  & h1 {
    padding: 20px;
  }
  & h2 {
    padding: 10px;
    color: $nav-open;
  }
  & p {
    padding-left: 10px;
  }
}

.parallax-bg-effect {
  border-radius: 10px;
}



.close-form {
  font-size: 1.5rem;
  position: absolute;
  right: -30px;
}

@media #{$medium-down} {
  .close-form {
    right: 0;
  }
}

.contact {
  height: 100vh;
}

#logo-to-home {
  position: fixed;
  top: 10vh;
  right: 5vw;
}
@media #{$large-down} {
  #logo-to-home {
    display: none;
  }
}

.to-login {
  height: 30vh;
  & a {
    color: $main-color;
    margin-left: 10px;
  }
}




