/*! minireset.css v0.0.5 | MIT License | github.com/jgthms/minireset.css */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);
html, body, p, ol, ul, li, dl, dt, dd, blockquote, figure, fieldset, legend, textarea, pre, iframe, hr, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button, input, select, textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

img, video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  padding: 0;
  text-align: left;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: initial;
  margin: 0 15%;
  padding: 0 0 0 3%;
}

@media only screen and (min-width: 1700px) {
  .card-container {
    padding: 0 0 0 8%;
  }
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f5efef;
  background-clip: border-box;
  border-style: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 200px;
  margin: 5% 3%;
  border-radius: 10px;
  transition: box-shadow 0.45s ease-in-out;
}
.card:hover {
  box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
}
.card h2 {
  font-size: 1.5em;
  text-align: center;
  justify-content: center;
  z-index: 3;
}
.card .card-text {
  position: absolute;
  left: 6px;
  bottom: 10px;
  padding: 2% 3%;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.card .radius {
  border-radius: 10px;
}

.card-img {
  background-size: cover;
  width: auto;
  height: 300px;
}

.wprock-img-zoom-hover .wprock-img-zoom {
  overflow: hidden;
  position: relative;
}
.wprock-img-zoom-hover .wprock-img-zoom .card-img {
  max-width: 100%;
  transition: all 0.8s;
  max-height: 300px;
}
.wprock-img-zoom-hover .wprock-img-zoom * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.wprock-img-zoom-hover:hover .wprock-img-zoom .card-img {
  transform: scale(1.16);
}

@media only screen and (min-width: 768px) {
  .loader-open {
    height: 100vh;
    width: 100vw;
    background-color: #212121;
  }

  .wrapper {
    position: absolute;
    top: 45%;
    left: 45%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
  }
  .wrapper ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    animation: rot 16s linear infinite;
  }
  @keyframes rot {
    100% {
      transform: rotate(360deg);
    }
  }
  .wrapper li {
    width: 40px;
    height: 40px;
    background: #651FFF;
    border-radius: 4px;
    box-shadow: 0 0 1px #fff, 0 0 5px #651FFF, 0 0 10px #651FFF, 0 0 15px #651FFF, 0 0 25px #651FFF, 0 0 55px #651FFF;
    animation: scale 0.8s linear alternate infinite;
  }
  @keyframes scale {
    100% {
      transform: scale(0.1);
      opacity: 0;
    }
  }
  .wrapper li:nth-child(1) {
    z-index: 24;
  }
  .wrapper li:nth-child(2) {
    z-index: 23;
  }
  .wrapper li:nth-child(3) {
    z-index: 22;
  }
  .wrapper li:nth-child(4) {
    z-index: 21;
  }
  .wrapper li:nth-child(5) {
    z-index: 20;
  }
  .wrapper li:nth-child(6) {
    z-index: 19;
  }
  .wrapper li:nth-child(7) {
    z-index: 18;
  }
  .wrapper li:nth-child(8) {
    z-index: 17;
  }
  .wrapper li:nth-child(9) {
    z-index: 16;
  }
  .wrapper li:nth-child(10) {
    z-index: 15;
  }
  .wrapper li:nth-child(11) {
    z-index: 14;
  }
  .wrapper li:nth-child(12) {
    z-index: 13;
  }
  .wrapper li:nth-child(13) {
    z-index: 12;
  }
  .wrapper li:nth-child(14) {
    z-index: 11;
  }
  .wrapper li:nth-child(15) {
    z-index: 10;
  }
  .wrapper li:nth-child(16) {
    z-index: 9;
  }
  .wrapper li:nth-child(17) {
    z-index: 8;
  }
  .wrapper li:nth-child(18) {
    z-index: 7;
  }
  .wrapper li:nth-child(19) {
    z-index: 6;
  }
  .wrapper li:nth-child(20) {
    z-index: 5;
  }
  .wrapper li:nth-child(21) {
    z-index: 4;
  }
  .wrapper li:nth-child(22) {
    z-index: 3;
  }
  .wrapper li:nth-child(23) {
    z-index: 2;
  }
  .wrapper li:nth-child(24) {
    z-index: 1;
  }
  .wrapper li:nth-child(25) {
    z-index: 0;
  }
  .wrapper li:nth-child(1) {
    animation-delay: 0.1s;
  }
  .wrapper li:nth-child(7) {
    animation-delay: 0.3s;
  }
  .wrapper li:nth-child(13) {
    animation-delay: 0.5s;
  }
  .wrapper li:nth-child(19) {
    animation-delay: 0.7s;
  }
  .wrapper li:nth-child(24) {
    animation-delay: 0.9s;
  }
  .wrapper li:nth-child(2) {
    animation-delay: 0.2s;
  }
  .wrapper li:nth-child(8) {
    animation-delay: 0.4s;
  }
  .wrapper li:nth-child(14) {
    animation-delay: 0.6s;
  }
  .wrapper li:nth-child(20) {
    animation-delay: 0.8s;
  }
  .wrapper li:nth-child(3) {
    animation-delay: 0.3s;
  }
  .wrapper li:nth-child(9) {
    animation-delay: 0.5s;
  }
  .wrapper li:nth-child(15) {
    animation-delay: 0.7s;
  }
  .wrapper li:nth-child(4) {
    animation-delay: 0.4s;
  }
  .wrapper li:nth-child(10) {
    animation-delay: 0.6s;
  }
  .wrapper li:nth-child(5) {
    animation-delay: 0.5s;
  }
  .wrapper li:nth-child(1) {
    animation-delay: 0.1s;
  }
  .wrapper li:nth-child(6) {
    animation-delay: 0.2s;
  }
  .wrapper li:nth-child(11) {
    animation-delay: 0.3s;
  }
  .wrapper li:nth-child(16) {
    animation-delay: 0.4s;
  }
  .wrapper li:nth-child(21) {
    animation-delay: 0.5s;
  }
  .wrapper li:nth-child(7) {
    animation-delay: 0.3s;
  }
  .wrapper li:nth-child(12) {
    animation-delay: 0.4s;
  }
  .wrapper li:nth-child(17) {
    animation-delay: 0.5s;
  }
  .wrapper li:nth-child(22) {
    animation-delay: 0.6s;
  }
  .wrapper li:nth-child(13) {
    animation-delay: 0.5s;
  }
  .wrapper li:nth-child(18) {
    animation-delay: 0.6s;
  }
  .wrapper li:nth-child(23) {
    animation-delay: 0.7s;
  }
  .wrapper li:nth-child(19) {
    animation-delay: 0.7s;
  }
  .wrapper li:nth-child(24) {
    animation-delay: 0.8s;
  }
  .wrapper li:nth-child(25) {
    animation-delay: 0.9s;
  }
}
@media only screen and (max-width: 768px) {
  .loader-open {
    height: 100vh;
    width: 100vw;
    background-color: #e0a9a9;
  }

  .gooey {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 142px;
    height: 40px;
    margin: -20px 0 0 -71px;
    background: #e0a9a9;
  }
  .gooey .dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(2px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 2.8s infinite;
  }
  .gooey .dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 2.8s infinite;
  }
  .gooey .dots span {
    display: block;
    float: left;
    width: 16px;
    height: 16px;
    margin-left: 16px;
    filter: blur(2px);
    background: #000;
    border-radius: 50%;
  }

  @keyframes dot {
    50% {
      transform: translateX(96px);
    }
  }
  @keyframes dots {
    50% {
      transform: translateX(-31px);
    }
  }
}
.loading-page {
  background: #0d0d0d;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading-page.counter {
  text-align: center;
}
.loading-page p {
  font-size: 40px;
  font-weight: 100;
  color: #651FFF;
}
.loading-page h1 {
  color: white;
  font-size: 60px;
  margin-top: -10px;
}
.loading-page hr {
  background: #651FFF;
  border: none;
  height: 1px;
}
.loading-page .counter {
  position: relative;
  width: 200px;
}
.loading-page .counter h1.abs {
  position: absolute;
  top: 0;
  width: 100%;
}
.loading-page .counter .color {
  width: 0px;
  overflow: hidden;
  color: #651FFF;
}

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  margin-right: 7vw;
  font: 400 15px/1.8 "Poppins", sans-serif;
  color: #a09c95;
}

h1 {
  font-size: 2em;
  text-align: center;
  justify-content: center;
}

nav {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.arrow-fixed {
  position: fixed;
  bottom: 80px;
  right: 50px;
}

#main-title {
  width: 60vw;
  font-size: 13rem;
}

.projects {
  margin: 10vh 0 10vh 35vw;
}
.projects .one-project {
  margin: 10vh 0;
}
.projects:hover {
  top: 0;
  left: 100%;
}

#project-title {
  font-size: 2rem;
}

.motion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: flex-end;
  -ms-flex-align: flex-end;
  align-items: flex-end;
  height: 70%;
}
.motion .my-border {
  background-color: rgba(197, 189, 189, 0.5);
  border-radius: 5px;
  padding: 8px;
  color: #fff;
  font-size: 25px;
  letter-spacing: 10px;
  transition: background-color 2s;
}
.motion .my-border:hover {
  background-color: rgba(197, 189, 189, 0.9);
}
.motion .my-border > .fa-angle-down, .motion .my-border > .fa-angle-up {
  padding: 8px 18px 0px 26px;
  font-size: 1.5em;
}

@media only screen and (max-width: 768px) {
  .my-navbar-nav {
    display: flex;
    flex-direction: column;
    margin: 5vh 20vw;
  }

  .my-nav-item {
    margin-top: 0%;
    padding: 0%;
    margin: 2em;
    -webkit-transform: rotate(-28deg);
    transform: rotate(-28deg);
    width: 13em;
  }

  #main-title {
    font-size: 7rem;
  }
}
@media only screen and (min-width: 768px) {
  .my-navbar-nav {
    z-index: 6;
    margin: 10vh 50vh 0 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
    height: auto;
    top: 0;
    left: 0;
  }

  .my-nav-item {
    margin-top: 0%;
    padding: 0%;
    -webkit-transform: rotate(-38deg);
    transform: rotate(-38deg);
    width: 13em;
  }
}
.menu-icon {
  position: relative;
  width: 54px;
  height: 54px;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  animation: antirotation 0.1s;
}
.menu-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 22px;
  height: 2px;
  background-color: #a09c95;
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.menu-icon span::before, .menu-icon span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-6px);
  transform: translateY(-6px);
  display: block;
  width: 22px;
  height: 2px;
  background-color: #a09c95;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}
.menu-icon span::after {
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
}
.menu-icon:hover span::before {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}
.menu-icon:hover span::after {
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
}
.menu-icon.is-opened {
  animation: rotation 0.5s;
}
.menu-icon.is-opened span {
  background: transparent;
}
.menu-icon.is-opened span::before {
  -webkit-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
}
.menu-icon.is-opened span::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes antirotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-180deg);
  }
}
.open {
  background-color: rgba(46, 42, 40, 0.911);
  height: 100%;
  overflow: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75vh;
  overflow: hidden;
}

.nav-min {
  font-size: 1.5em;
}

.hover-effect {
  width: 0%;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  -webkit-transition: width 1s;
  transition: width 1s;
  /* height:1px; */
  /*override au cas par cas sur bottom et couleur de ligne*/
  bottom: -0.5px;
  border-bottom: 1.5px solid rgba(248, 185, 83, 0.534);
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hover-effect:hover {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  width: 100%;
}

.my-footer {
  position: fixed;
  background-color: #c5bdbd;
  height: 30vh;
  width: 86vw;
  bottom: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  color: #686560;
}

.links p {
  font-size: 2rem;
}

a.nav-min {
  color: rgba(160, 156, 149, 0.534);
  text-decoration: none;
  white-space: nowrap;
  transition: color 1s ease-in-out;
}
a.nav-min:hover {
  color: rgba(248, 185, 83, 0.534);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* sur Safari et Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#first-nav {
  animation: fadein 2.5s;
  -moz-animation: fadein 2.5s;
  /* Firefox */
  -webkit-animation: fadein 2.5s;
  /* Safari et Chrome */
  -o-animation: fadein 2.5s;
  /* Opera */
}

#second-nav {
  animation: fadein 3.5s;
  -moz-animation: fadein 3.5s;
  /* Firefox */
  -webkit-animation: fadein 3.5s;
  /* Safari et Chrome */
  -o-animation: fadein 3.5s;
  /* Opera */
}

#third-nav {
  animation: fadein 4.5s;
  -moz-animation: fadein 4.5s;
  /* Firefox */
  -webkit-animation: fadein 4.5s;
  /* Safari et Chrome */
  -o-animation: fadein 4.5s;
  /* Opera */
}

#fourth-nav {
  animation: fadein 5.5s;
  -moz-animation: fadein 5.5s;
  /* Firefox */
  -webkit-animation: fadein 5.5s;
  /* Safari et Chrome */
  -o-animation: fadein 5.5s;
  /* Opera */
}

.item {
  background-color: #f5efef;
}

.text-container {
  height: 100vh;
  padding: 20px;
}

.parallax-bg-effect {
  border-radius: 10px;
}

/*# sourceMappingURL=style.css.map */
